version: "3.8"

services:
  nuxt:
    build: .
    container_name: nuxt
    expose:
      - "3000"
    environment:
      - NODE_ENV=production

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - nuxt
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro